* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

/* ALL CONTENT*/

.container {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/*HEADER*/
.header {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    flex: 1 0 0;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 10px 200px 10px 200px;
}

.logo {
    font-size: 24px;
}

.header-links {
    display: flex;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

/*CONTENT TITLE*/
.content-title {
    display: flex;
    gap: 30px;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 100px 200px 100px 200px;
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 0 0;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    flex: 0 0 0;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
    flex: 0 0 0;
}

p {
    margin: 0;
}

.right-side {
    display: flex;
    flex: 1 0 0;
    justify-content: center;
    align-items: center;
    background-color: rgb(119, 119, 160);
    min-height: 200px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-signup {
    background-color: #389fff;
    color: #f9faf8;
    padding: 10px 30px;
    font-weight: 500;
    border: none;
    border-radius: 6px;
}

/*CONTENT INFORMATIN*/
.content-information {
    display: flex;
    flex-direction: column;
    padding: 50px 200px 100px 200px;
    gap: 50px;
}

.information {
    display: flex;
    flex: 1 0 0;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card-image {
    flex: 0 0 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    flex: 0 0 150px;
    min-height: 150px;
    border: 5px solid rgb(69, 134, 255);
    border-radius: 8px;
}

/*CONTENT-QUOTE*/
.content-quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 100px 200px 100px 200px;
    gap: 50px;
}

.quote {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
}

.text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    opacity: 0.8;
}

.writer {
    font-weight: 900;
    align-self: flex-end;
}

/*CONTENT SIGNUP*/
.content-signup {
    display: flex;
    padding: 100px 200px 100px 200px;
    gap: 50px;
}

.signup {
    background-color: rgb(69, 134, 255);
    min-height: 150px;
    flex: 1 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    border-radius: 10px;
}

.textsignup {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
}

.title-signup {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

.subtext-signup {
    color: #f9faf8;
    opacity: .8;
}

.button-signup-blue {}

.button-blue {
    background-color: rgb(69, 134, 255);
    color: #f9faf8;
    padding: 5px 40px;
    font-weight: 600;
    font-size: 18px;
    border: 2px solid #f9faf8;
    border-radius: 6px;
}

/*FOOTER*/
.footer{
    display: flex;
    padding: 30px 200px 30px 200px;
    background-color:#1f2937 ;
    align-items: center;
}

.copyright{
    flex: 1 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    opacity: .8;
}